:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-gray: #545050;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-white);
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  white-space: nowrap;
}

.header__links-list-item {
  display: flex;
  align-items: center;
}

.header__links-list-item_image {
  margin: 1px;
}


.header__links-list-item_image img {
  display: block;
  width: 6px;
  height: 6px;
}

.header__link {
  font-size: 18px;
  color: var(--color-black);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  justify-self: center;
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  display: block;
}

.header__menu {
  justify-self: start;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  max-width: 240px;
  justify-self: end;
  text-align: left;
}

.address__link {
  color: var(--color-black);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.address p {
  margin: 8px 0 0 0;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url('./images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  min-height: 757px;
}

.cover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 28px;
}

.bet-button {
  padding: 12px 32px;
  background: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  min-width: 257px;
  line-height: 26px;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  justify-content: center;
}

.lots__card-list-item {
  flex: 0 0 334px;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card__content {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.2;
  margin-bottom: 30px;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
  color: var(--color-black);
  border-bottom: 1px solid currentColor;
  display: inline-block;
}

.about {
  padding: 180px 50px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: var(--color-black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  display: block;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 100px 0;
  font-weight: 700;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  margin: 0;
}

.footer {
  padding: 180px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer .address {
  justify-self: start;
  text-align: left;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer__menu-list-item {
  margin-bottom: 5px;
}

.footer__menu-link {
  font-size: 18px;
  color: var(--color-black);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-link img {
  width: 100%;
  height: 100%;
  display: block;
}